<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hivesys.router.mapper.RouterMapper">

	<!-- RouterInfoVO 매핑 -->
	<resultMap id="routerInfoMap" type="routerVo">
    <id property="deviceId" column="DEVICE_ID"/>
    <!-- BaseVO -->
    <result property="regDate" column="REG_DATE"/>
    <result property="createdAt" column="CREATED_AT"/>
    <result property="updatedAt" column="UPDATED_AT"/>
    <result property="tagId" column="TAG_ID"/>
    <result property="searchType" column="SEARCH_TYPE"/>
    <result property="searchValue" column="SEARCH_VALUE"/>
    <result property="sDate" column="S_DATE"/>
    <result property="eDate" column="E_DATE"/>
    <!-- CompanyVO -->
    <result property="companyId" column="COMPANY_ID"/>
    <result property="companyCode" column="COMPANY_CODE"/>
    <result property="companyName" column="COMPANY_NAME"/>
    <result property="userType" column="USER_TYPE"/>
    <result property="dirMb" column="DIR_MB"/>
    <result property="dirRegDt" column="DIR_REG_DT"/>
    <result property="todayCnt" column="TODAY_CNT"/>
    <result property="rsrqAvg" column="RSRQ_AVG"/>
    <!-- OrgVO -->
    <result property="orgId" column="ORG_ID"/>
    <result property="orgName" column="ORG_NAME"/>
    <!-- RouterVO -->
    
    <result property="deviceName" column="DEVICE_NAME"/>
    <result property="modelName" column="MODEL_NAME"/>
    <result property="volteNum" column="VOLTE_NUM"/>
    <result property="keywords" column="KEYWORDS"/>
    <result property="carNum" column="CAR_NUM"/>
    <result property="updateDate" column="UPDATE_DATE"/>
    <result property="makerPhone1" column="MAKER_PHONE_1"/>
    <result property="makerPhone2" column="MAKER_PHONE_2"/>
    <result property="extraInfo" column="EXTRA_INFO"/>
    <result property="createdBy" column="CREATED_BY"/>
    <result property="updatedBy" column="UPDATED_BY"/>
    <result property="routerCount" column="ROUTER_COUNT"/>
</resultMap>
	
	<resultMap id="CompanyInfoMap" type="companyVo">
    <id property="companyId" column="COMPANY_ID"/>
    <!-- BaseVO -->
    <result property="regDate" column="REG_DATE"/>
    <result property="createdAt" column="CREATED_AT"/>
    <result property="updatedAt" column="UPDATED_AT"/>
    <result property="tagId" column="TAG_ID"/>
    <result property="searchType" column="SEARCH_TYPE"/>
    <result property="searchValue" column="SEARCH_VALUE"/>
    <result property="sDate" column="S_DATE"/>
    <result property="eDate" column="E_DATE"/>
    <!-- CompanyVO -->
    <result property="companyCode" column="COMPANY_CODE"/>
    <result property="companyName" column="COMPANY_NAME"/>
    <result property="userType" column="USER_TYPE"/>
    <result property="dirMb" column="DIR_MB"/>
    <result property="dirRegDt" column="DIR_REG_DT"/>
    <result property="todayCnt" column="TODAY_CNT"/>
    <result property="rsrqAvg" column="RSRQ_AVG"/>
</resultMap>

	<!-- SELECT: PK 단건 -->
	<select id="select" parameterType="routerVo" resultMap="routerInfoMap">
	    SELECT 
	        A.device_id,
	        A.device_name,
	        A.model_name,
	        A.volte_num,
	        A.keywords,
	        A.company_id,
	        B.company_code,
	        A.car_num,
	        A.update_date,
	        A.maker_phone_1,
	        A.maker_phone_2,
	        A.reg_date,
	        A.extra_info,
	        A.created_by,
	        A.updated_by,
	        B.company_type AS user_type,
	        B.company_name
	    FROM 
	        TBL_ROUTER_INFO A
	    LEFT JOIN 
	        TBL_COMPANY_INFO B
	    ON 
	        A.COMPANY_ID = B.COMPANY_ID
	    WHERE 1=1
	    <if test="tagId != null and tagId != ''">
			AND device_id = #{tagId}
		</if> 
		<if test="volteNum != null and volteNum neq ''">
			AND volte_num = #{volteNum}
		</if>
	</select>
	
	<select id="userTypeSelect" parameterType="companyVo" resultMap="CompanyInfoMap">
		SELECT COMPANY_TYPE AS USER_TYPE FROM tbl_company_info
		WHERE 1=1
		<if test="userType neq '코레일' and companyId !=null and companyId neq ''">
			AND COMPANY_ID = #{companyId}
		</if>
		GROUP BY COMPANY_TYPE;
	</select>
	
	
	<select id="selectCompany" parameterType="routerVo" resultMap="routerInfoMap">
		SELECT
			company_id,
			company_code,
			company_name,
			company_type AS user_type,
			reg_date,
			created_at,
			updated_at
		FROM TBL_COMPANY_INFO
		where 1=1
		and company_type = #{userType}
	</select>

	<!-- SELECT: 소속별 목록 -->
	
	<select id="selectList" parameterType="routerVo" resultMap="routerInfoMap">
		SELECT J2.* FROM
		(
			SELECT
				A.device_id,
				A.device_name,
				A.model_name,
				A.volte_num,
				A.keywords,
				A.company_id,
				B.company_code,
				A.car_num,
				A.update_date,
				A.maker_phone_1,
				A.maker_phone_2,
				A.reg_date,
				A.extra_info,
				A.created_by,
				A.updated_by,
				B.COMPANY_NAME,
				B.COMPANY_TYPE AS USER_TYPE
			FROM 
			TBL_ROUTER_INFO A
			LEFT JOIN
			(select * from TBL_COMPANY_INFO) B
			ON A.COMPANY_ID=B.COMPANY_ID
		)J2
		where 1=1

		<!-- 권한 -->
		<if test="userType neq '코레일' and companyId !=null and companyId neq ''">
		    and J2.company_id = #{companyId}
	    </if>
		<!-- 시간 -->
		<if
			test="sDate!=null and sDate neq '' and eDate!=null and eDate neq ''">
			and reg_date between #{sDate} and #{eDate}
		</if>
		<!-- 검색조건 타입/검색어 -->
		<if test="searchType!=null and searchType neq ''">
			<choose>
				<when test="searchType eq 'deviceName' ">
					and device_name LIKE CONCAT('%',#{searchValue},'%')
				</when>
				<when test="searchType eq 'modelName' ">
					and model_name LIKE CONCAT('%',#{searchValue},'%')
				</when>
				
				<when test="searchType eq 'companyName' ">
					and company_name LIKE CONCAT('%',#{searchValue},'%')
				</when>
				<otherwise>
					and
					(
					device_name LIKE CONCAT('%',#{searchValue},'%')
					or
					model_name LIKE CONCAT('%',#{searchValue},'%')
					or
					company_name LIKE CONCAT('%',#{searchValue},'%')
					)
				</otherwise>
			</choose>
		</if>
		ORDER BY reg_date DESC
	</select> 

	<!-- INSERT: AUTO_INCREMENT 키 반환 -->
	<insert id="insert" parameterType="routerVo">
		INSERT INTO TBL_ROUTER_INFO
		(device_id,device_name, model_name, volte_num, keywords,
		company_id, car_num,
		update_date, maker_phone_1, maker_phone_2,
		reg_date, extra_info, created_by)
		SELECT
			concat(C.company_code,'_',#{deviceName},DATE_FORMAT(NOW(),'%Y%m%d%H%i%s')),
			concat(C.company_code,'_',#{deviceName}),
			concat(#{modelName},'-',C.company_code,'_',#{deviceName}), 
			#{volteNum}, 
			#{keywords},
			#{companyId}, 
			#{carNum},
			#{updateDate}, 
			#{makerPhone1}, 
			#{makerPhone2},
			curdate(), 
			#{extraInfo}, 
			now()
		FROM TBL_COMPANY_INFO C
		WHERE C.company_id = #{companyId}
	</insert>

	<!-- UPDATE: PK 기준 -->
	<update id="update" parameterType="routerVo">
		UPDATE TBL_ROUTER_INFO R
		JOIN TBL_COMPANY_INFO C
		  ON C.company_id = #{companyId}
		SET
		R.device_name = concat(C.company_code,'_',#{deviceName}),
		R.model_name = concat(#{modelName},'-',C.company_code,'_',#{deviceName}),
		R.volte_num = #{volteNum},
		R.keywords = #{keywords},
		R.company_id = #{companyId},
		R.car_num = #{carNum},
		R.update_date = #{updateDate},
		R.maker_phone_1 = #{makerPhone1},
		R.maker_phone_2 = #{makerPhone2},
		R.extra_info = #{extraInfo},
		R.updated_by = now()
		WHERE R.device_id = #{deviceId}
	</update>

	<!-- DELETE: PK 기준 -->
<!-- 	<delete id="deleteChk" parameterType="routerVo">
		DELETE FROM TBL_ROUTER_INFO
		WHERE device_id IN
		<foreach collection="list" item="id" open="(" separator="," close=")">
		    #{id}
		</foreach>
	</delete>
	 -->
	<delete id="deleteChk" parameterType="map">
	    DELETE FROM TBL_ROUTER_INFO
	    WHERE device_id IN
	    <foreach collection="chkList" item="id" open="(" separator="," close=")">
	        #{id}
	    </foreach>
	</delete>
	
	<delete id="deleteCompany" parameterType="map">
	    DELETE FROM TBL_ROUTER_INFO
	    WHERE company_id IN
	    <foreach collection="chkList" item="id" open="(" separator="," close=")">
	        #{id}
	    </foreach>
	</delete>

</mapper>
