<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hivesys.search.mapper.SearchMapper">

<!-- 
수정일           수정자         수정내용 
========= ======= ================================================= 
2025.09.19 최다슬     최초 생성 
========= ======= =================================================
2025.09.23 최다슬     검색&모니터링 검색 기능 생성
========= ======= =================================================
2025.11.18 정다빈     검색조건에서 위치는 제외하나 결과는 위치가 표출되게 변경
                  (기존 location 컬럼을 db에서 제거하고 tc로 대체 vo는 유지)
========= ======= =================================================
========= ======= =================================================
2025.11.24 정다빈     장치 모니터링에서 car_num & extra_info 값은 
				    단말기에서 실시간으로 송신하는 데이터를 표출
========= ======= =================================================
========= ======= =================================================
2025.11.24 정다빈     git commit test 
15:02				    
========= ======= =================================================
========= ======= =================================================
2025.11.24 최다슬     git commit test 2
15:11				    
========= ======= =================================================
-->

<resultMap id="searchVoMap" type="searchVo">
    <id property="deviceId" column="device_id"/>
    <!-- BaseVO -->
    <result property="regDate" column="REG_DATE"/>
    <result property="createdAt" column="CREATED_AT"/>
    <result property="updatedAt" column="UPDATED_AT"/>
    <result property="tagId" column="TAG_ID"/>
    <result property="searchType" column="SEARCH_TYPE"/>
    <result property="searchValue" column="SEARCH_VALUE"/>
    <result property="sDate" column="S_DATE"/>
    <result property="eDate" column="E_DATE"/>
    <!-- CompanyVO -->
    <result property="companyId" column="COMPANY_ID"/>
    <result property="companyCode" column="COMPANY_CODE"/>
    <result property="companyName" column="COMPANY_NAME"/>
    <result property="userType" column="USER_TYPE"/>
    <result property="dirMb" column="DIR_MB"/>
    <result property="dirRegDt" column="DIR_REG_DT"/>
    <result property="todayCnt" column="TODAY_CNT"/>
    <result property="rsrqAvg" column="RSRQ_AVG"/>
    <!-- OrgVO -->
    <result property="orgId" column="ORG_ID"/>
    <result property="orgName" column="ORG_NAME"/>
    <!-- RouterVO -->
        <result property="deviceId" column="DEVICE_ID"/>
    <result property="deviceName" column="DEVICE_NAME"/>
    <result property="modelName" column="MODEL_NAME"/>
    <result property="volteNum" column="VOLTE_NUM"/>
    <result property="keywords" column="KEYWORDS"/>
    <result property="carNum" column="CAR_NUM"/>
    <result property="updateDate" column="UPDATE_DATE"/>
    <result property="makerPhone1" column="MAKER_PHONE_1"/>
    <result property="makerPhone2" column="MAKER_PHONE_2"/>
    <result property="extraInfo" column="EXTRA_INFO"/>
    <result property="createdBy" column="CREATED_BY"/>
    <result property="updatedBy" column="UPDATED_BY"/>
    <result property="routerCount" column="ROUTER_COUNT"/>
    <!-- SearchVo -->
    <result property="searchVal" column="SEARCH_VAL"/>
    <result property="version" column="VERSION"/>
    <result property="location" column="LOCATION"/>
    <result property="location" column="location"/>
    <result property="usimSlot" column="USIM_SLOT"/>
    <result property="mobileIp" column="MOBILE_IP"/>
    <result property="localIp" column="LOCAL_IP"/>
    <result property="imei" column="IMEI"/>
    <result property="imsi" column="IMSI"/>
    <result property="rsrp" column="RSRP"/>
    <result property="rsrq" column="RSRQ"/>
    <result property="mcpttNum" column="MCPTT_NUM"/>
    <result property="autoSwitchingRadio" column="AUTO_SWITCHING_RADIO"/>
    <result property="autoSwitchingRadio" column="AutoSwitchingRadio"/>
    <result property="cellId" column="CELL_ID"/>
    <result property="currentRadioType" column="CURRENT_RADIO_TYPE"/>
    <result property="currentRadioType" column="CurrentRadioType"/>
    <result property="gpsLat" column="GPS_LAT"/>
    <result property="gpsLat" column="GPS_Lat"/>
    <result property="gpsLon" column="GPS_LON"/>
    <result property="gpsLon" column="GPS_Lon"/>
    <result property="rcvDt" column="RCV_DT"/>
    <result property="vncIp" column="VNC_IP"/>
    <result property="vncPort" column="VNC_PORT"/>
    <result property="vncPw" column="VNC_PW"/>
</resultMap>

	<select id="searchDataList" parameterType="searchVo" resultMap="searchVoMap">
	    SELECT 
	        r.device_id,
	        r.device_name,
	        r.model_name,
	        IFNULL(l.car_num,r.car_num) as car_num,
	        r.volte_num,
	        r.keywords,
	        l.version,
	        l.tc as location,
	        c.company_name  
	    FROM 
	        tbl_router_info r
	    LEFT JOIN 
	        tbl_last_data l ON r.volte_num = l.volte_num
	    LEFT JOIN 
	        tbl_company_info c ON r.company_id = c.company_id  
	
	    <where>
	        <if test="searchVal != null and searchVal != ''">
	            (
	                r.device_name LIKE CONCAT('%', #{searchVal}, '%')
	                OR r.model_name LIKE CONCAT('%', #{searchVal}, '%')
	                OR l.car_num LIKE CONCAT('%', #{searchVal}, '%')
	                OR r.volte_num LIKE CONCAT('%', #{searchVal}, '%')
	                OR r.keywords LIKE CONCAT('%', #{searchVal}, '%')
	                OR l.version LIKE CONCAT('%', #{searchVal}, '%')
	                OR c.company_name LIKE CONCAT('%', #{searchVal}, '%') 
	            )
	        </if>
	        <if test="companyId != null and companyId != '' and companyId != 'all'">
	            AND r.company_id = #{companyId}
	        </if>
	    </where>
	
	    ORDER BY r.car_num DESC
	</select>

	
	
	
	<select id="searchRouterDataList" parameterType="searchVo" resultMap="searchVoMap">
	    SELECT 
	        r.device_id,
	        r.device_name,
	        r.model_name,
	        IFNULL(l.car_num,r.car_num) as car_num,
	        r.volte_num,
	        r.keywords,
	        l.version,
	        l.tc as location
	    FROM 
	        tbl_router_info r
	    LEFT JOIN 
	        tbl_last_data l
	        ON r.volte_num = l.volte_num
	    WHERE 1=1
	        <if test="searchVal != null and searchVal != ''">
	            AND (
	                r.model_name LIKE CONCAT('%', #{searchVal}, '%')
	                OR l.car_num LIKE CONCAT('%', #{searchVal}, '%')
	                OR r.volte_num LIKE CONCAT('%', #{searchVal}, '%')
	                OR r.keywords LIKE CONCAT('%', #{searchVal}, '%')
	                OR l.version LIKE CONCAT('%', #{searchVal}, '%')
	            )
	        </if>
	        <if test="deviceName != 'all'">
	            AND r.device_name = #{deviceName}
	        </if>
	        <if test="companyId != null and companyId != '' and companyId != 'all'">
	            AND r.company_id = #{companyId}
	        </if>
	    ORDER BY r.car_num DESC
	</select>
	
	
	<!-- 실시간 데이터 조회 - 단말기 검색 조건 옵션 셋팅 -->
	<select id="companyTypeList" parameterType="searchVo" resultMap="searchVoMap">
		SELECT COMPANY_ID, COMPANY_NAME, COMPANY_CODE
		FROM TBL_COMPANY_INFO
		WHERE 1 = 1
		<if test="companyId != null and companyId != '' and companyId != 'all'" >
			AND COMPANY_ID = #{companyId}
		</if>
	</select>
	
	<select id="deviceNameTypeList" parameterType="searchVo" resultMap="searchVoMap">
		SELECT DEVICE_NAME
		FROM TBL_ROUTER_INFO
		WHERE 1=1
		<if test="companyId != null and companyId != '' and companyId != 'all'">
			and company_id = #{companyId}
		</if>
		GROUP BY DEVICE_NAME
	</select>
	
	
	<!-- 장치 & 모니터링 장치 상세 정보 조회 -->
	<select id="selectDetail" parameterType="searchVo" resultMap="searchVoMap">
		SELECT 
		    r.device_id,
		    r.device_name,
		    r.model_name,
		    IFNULL(l.car_num,r.car_num) as car_num,
		    r.volte_num,
		    r.keywords,
			l.etc as extra_info,
		    l.version,
		    l.tc as location,
		    l.USIM_SLOT,
		    l.VNC_IP,
		    l.LOCAL_IP,
		    l.IMEI,
		    l.IMSI,
		    l.RSRP,
		    l.RSRQ,
		    l.MCPTT_NUM,
		    l.AutoSwitchingRadio,
		    l.CurrentRadioType,
		    l.CELL_ID,
		    l.GPS_Lat,
		    l.GPS_Lon,
		    l.RCV_DT    
		FROM 
		    tbl_router_info r
		LEFT JOIN 
		    tbl_last_data l
		    ON r.volte_num = l.volte_num
		WHERE r.device_id = #{deviceId}	
	</select>

	<!-- 받아온 voltenum 으로 ip port pw 조회 -->
	<select id="findVnc" parameterType="searchVo" resultMap="searchVoMap">
	    SELECT vnc_ip,vnc_port,vnc_pw from tbl_last_data
	    WHERE VoLTE_NUM = #{volteNum}	
	</select>
</mapper>
