<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hivesys.user.mapper.UserMapper">
	<resultMap type="userVo" id="selectUserList">
		<id property="userId" column="USER_ID"/>
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userRank" column="USER_RANK"/>
		<result property="companyId" column="COMPANY_ID"/>
		<result property="companyCode" column="COMPANY_CODE"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="orgId" column="ORG_ID"/>
		<result property="orgName" column="ORG_NAME"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userPhone2" column="USER_PHONE2"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="usedYn" column="USED_YN"/>
		<result property="authId" column="AUTH_ID"/>
		<result property="authDefine" column="AUTH_DEFINE"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="updatedAt" column="UPDATED_AT"/>
	</resultMap>

	<sql id="userJoin">
		SELECT U.USER_ID, U.USER_PW, U.USER_NAME, U.USER_RANK, U.ORG_ID,
		       U.COMPANY_ID, U.USER_PHONE, U.USER_PHONE2, U.USER_EMAIL,
		       U.USED_YN, U.REG_DATE, U.UPDATED_AT, U.AUTH_ID,
		       C.COMPANY_CODE, C.COMPANY_NAME, C.COMPANY_TYPE AS USER_TYPE,
		       O.ORG_NAME, A.AUTH_DEFINE
		FROM TBL_USER_INFO U
		INNER JOIN TBL_COMPANY_INFO C ON U.COMPANY_ID = C.COMPANY_ID
		LEFT JOIN TBL_ORG_INFO O ON U.ORG_ID = O.ORG_ID
		LEFT JOIN TBL_AUTH_INFO A ON U.AUTH_ID = A.AUTH_ID
	</sql>

	<select id="selectList" parameterType="userVo" resultMap="selectUserList">
		<include refid="userJoin"/>
		WHERE 1=1
		<if test="companyId != null and companyId != ''">
			AND U.COMPANY_ID = #{companyId}
		</if>
		<if test="sDate != null and sDate != '' and eDate != null and eDate != ''">
			AND U.REG_DATE BETWEEN #{sDate} AND #{eDate}
		</if>
		<if test="searchType != null and searchType != '' and searchValue != null and searchValue != ''">
			<choose>
				<when test="searchType == 'companyName'">AND C.COMPANY_NAME LIKE CONCAT('%',#{searchValue},'%')</when>
				<when test="searchType == 'orgName'">AND O.ORG_NAME LIKE CONCAT('%',#{searchValue},'%')</when>
				<when test="searchType == 'userName'">AND U.USER_NAME LIKE CONCAT('%',#{searchValue},'%')</when>
				<otherwise>AND (C.COMPANY_NAME LIKE CONCAT('%',#{searchValue},'%') OR O.ORG_NAME LIKE CONCAT('%',#{searchValue},'%') OR U.USER_NAME LIKE CONCAT('%',#{searchValue},'%'))</otherwise>
			</choose>
		</if>
		ORDER BY U.REG_DATE DESC
	</select>

	<select id="select" parameterType="userVo" resultMap="selectUserList">
		<include refid="userJoin"/>
		WHERE U.USER_ID = #{userId}
		<if test="companyId != null and companyId != ''">
			AND U.COMPANY_ID = #{companyId}
		</if>
	</select>

	<insert id="insert" parameterType="userVo">
		INSERT INTO TBL_USER_INFO
		(USER_ID, USER_PW, USER_NAME, COMPANY_ID, ORG_ID, USER_PHONE, USER_PHONE2, AUTH_ID)
		VALUES
		(#{userId}, #{userPw}, #{userName}, #{companyId}, #{orgId}, #{userPhone}, #{userPhone2}, #{authId})
	</insert>

	<update id="update" parameterType="userVo">
		UPDATE TBL_USER_INFO
		SET USER_NAME = #{userName}
		<if test="userPw != null and userPw != ''">, USER_PW = #{userPw}</if>
		, COMPANY_ID = #{companyId}
		, ORG_ID = #{orgId}
		, USER_PHONE = #{userPhone}
		, USER_PHONE2 = #{userPhone2}
		, AUTH_ID = #{authId}
		, UPDATED_AT = CURDATE()
		WHERE USER_ID = #{userId}
		<if test="scopeCompanyId != null and scopeCompanyId != ''">
			AND COMPANY_ID = #{scopeCompanyId}
		</if>
	</update>

	<delete id="deleteChk" parameterType="map">
		DELETE FROM TBL_USER_INFO
		WHERE USER_ID IN
		<foreach collection="chkList" item="item" separator="," open="(" close=")">#{item}</foreach>
		<if test="companyId != null and companyId != ''">
			AND COMPANY_ID = #{companyId}
		</if>
	</delete>
</mapper>
